@import "tailwindcss";

:root {
  --font-family-base: "Alatsi", sans-serif;
}

body {
  font-family: var(--font-family-base);
}

.alatsi-regular {
  font-family: "Alatsi", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.swiper-slide {
  transition: transform 0.5s;
  transform: translateY(0) scale(1);
}

.swiper-slide-active {
  transform: translateY(40px) scale(1.05);
  z-index: 10;
}

.btn-custom-purple {
  background-color: #a16db4;
  color: white;
  transition: all 0.3s ease;
}

.btn-custom-purple:hover {
  background-color: #e49aff;
  color: black;
}
